* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.header {
  background-color: mediumblue;
  padding: 10px 0;
}
.input-search {
  border: none;
  padding: 5px;
  font-size: 14;
  outline: none;
}
.search-form {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 5px 0;
  background-color: #ccc;
  width: 200px;
  height: 26px;
  margin: 0 auto;
}

.search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 100%;
}

.search-button-icon {
  fill: gray;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.photo-card {
  border: 1px solid darkgray;
  border-radius: 2px;
  box-shadow: 2px 2px 2px lightgray;
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 8px;
  padding: 5px;
}
.card-image {
  width: 100%;
  height: 200px;
}
.info-item {
  display: flex;
  flex-direction: column;
  /* width: calc((100% - 8px) / 4); */
  font-size: xx-small;
}
.load-more {
  display: none;
  margin: 0 auto;
  background-color: mediumblue;
  border: none;
  border-radius: 50%;
  height: 88px;
  color: whitesmoke;
}
.gallery__link {
  width: calc((100% - 60px) / 4);
  display: block;
  text-decoration: none;
  color: black;
  height: 100%;
}
